.hero-image {
    width: 100%;
    background-image: url(../images/webudvikler_0.jpg);
    padding-top: 16px;
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="text"] {
    width: 236px;
    height: 45px;
    border-radius: 25px;
    border: solid 1px #c40000;
    outline: none;
    padding-left: 46px;
}

form {
    position: relative;
}

i.fa-search {
    position: absolute;
    color: #c40000;
    top: 85%;
    transform: translate(100%, -50%);
}

@media (min-width: 376px) {
    .hero-image {
        height: 520px;
    }

    input[type="text"] {
        width: 605px;
    }

    .hero_label {
        font-size: 48px;
    }
}