.read_more {
    padding: 15px 39px;
    margin: 0 14px 17px 141px;
    background-color: #c40000;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    text-decoration: none;
    position: relative;
    bottom: 20px;
}

.card-button {
    margin: 0 24px 0 179px;
}

@media (min-width: 376px) {
    .read_more {
        width: 90px;
        margin-left: 422px;
    }
}