/* -- Månedens skole -- */

.månedens-skole {
    margin: 24px;
    background-color: #f1ebeb;
    color: white;
}

section header {
    height: 40px;
    padding: 0 17px;
    display: flex;
    align-content: center;
}

.månedens-skole-image {
    width: 100%;
    object-fit: cover;
}

.månedens-skole-text {
    color: black;
    margin: 16px 16px 68px 16px;
}

section h2 {
    color: black;
    margin: 16px;
}

/* -- Ekstra sections -- */

.card-image {
    width: 100%;
}

.card-text {
    margin: 0 24px 78px 24px;
}

.card-three {
    margin: 16px 0;
}

@media (min-width: 376px) {
    .flex-row{
        display: flex;
        flex-direction: row;
    }
    
    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .månedens-skole-image {
        width: 40%;
    }

    h2 {
        font-size: 48px;
    }

    button {
        margin: 25px 32px 33px 422px;
    }

    .card-image {
        width: 1024px;
    }

    .card-two, .card-three {
        display: flex;
    }
}