/* -- General styles -- */

html, body {
    margin: 0;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* -- Utillity classes -- */

.flex-container-center {
    display: flex;
    justify-content: center;
}

.flex-container-flex-end {
    display: flex;
    justify-content: flex-end;
}

.bold_text {
    font-weight: 700;
}

.flex_column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper_column {
    display: flex;
    align-items: center;
    flex-direction: column;
}